.glider-contain {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.glider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
}

.glider-next,
.glider-prev {
    position: absolute;
    display: block;
    width: 50px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background: none;
    opacity: 50%;
    top: 0px;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.glider-next:hover,
.glider-prev:hover {
    opacity: 100%;
}

.glider-next {
    right: 0px;
}

.glider-prev {
    left: 0px;
}

.dots {
    position: absolute;
    bottom: 3%;
    width: 100%;
}

.dots .glider-dot {
    background-color: #ffffff;
    width: 1rem;
    height: 1rem;
    outline: none;
}

.dots .glider-dot:hover {
    background-color: #fcee60;
}

.glider-dot.active {
    background-color: #fcee60;
}
